/* CSS Document */

/* General styling elements */

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    padding: 0;
    margin: 0;
    display: inline;
}

header {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    min-height: 70px;
    line-height: 70px;
    width: 100%;
}




.logo {
    float: left;
    font-family: 'Rock Salt', cursive;
    margin: 0 10px;
    font-size: 1.5rem;
    color: lightgray;
}

.logo a {
    text-decoration: none;
    color: black;

}

.logo span {
    font-weight: bolder;
}


.nav_menu {
    margin: 0 30px 0 0;
}

.nav_menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 25px;
}



label {
    margin: 0 40px 0 40px;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;

}

#toggle {
    display: none;
}





/* media queries */


@font-face {
    font-display: fallback;
}

/* CSS Grid implementation to desktop only + other desktop only styles */
@media only screen and (min-width: 800px) {

    /* css grid declerations */

    .grid {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-rows: 10% auto;
        margin: 0;
        height: 100%;
    }

    .grid2 {
        display: grid;
        grid-column: 1/7;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        column-gap: 4px;
        grid-row-gap: 4px;
        margin: 0;
        height: 100%;

    }

    /* Home page layouting */


    header {
        grid-area: header;
        grid-column: 1/7;
        height: 4rem;
    }

    main {
        grid-area: main;
    }



    .griditem-a {
        grid-column: 1/7;
        grid-row: 1/2;
        ;
        height: 30rem;
        box-shadow: 0 0.5px 10px 0 rgba(0, 0, 0, 0.19);

    }

    .griditem-b {
        grid-column: 1/4;
        grid-row: 2;
        margin-left: 10%;
        border: 2px solid #EAEAEB;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation: 1s ease-out 0s 1 slideInFromLeft;

    }

    .griditem-b p {
        text-align: left;
        margin: 1rem;
        font-size: 1.3rem;
    }

    /* nested grid */

    .griditem-c {
        grid-column: 4/7;
        grid-row: 2;
        display: grid;
        grid-template-areas:
            " a "
            " b "
            " c ";
        grid-gap: 0.5rem;
        margin-right: 10%;
        border: 2px solid #EAEAEB;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation: 1s ease-out 0s 1 slideInFromRight;
        line-height: 8rem
    }

    .griditem-c > .nested-1,
    .nested-2 {
        margin: 0.5rem;
        border-bottom: 1px solid gray;
    }

    .nested-1 {
        grid-area: a;

    }

    .nested-2 {
        grid-area: b;
    }

    .nested-3 {
        grid-area: c;
    }

    /* end of nested grid */

    /* About me page */

    .griditem-d {
        grid-column: 1/7;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 1%;
        grid-template-areas:
            "a a c"
            "b b d";
        min-height: 30rem;
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5%;
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }

    .cntr {
        grid-column: 1/7;
        text-align: center;
    }

    /* Nested grid elements from griditem-d */

    .earlyyrs {
        grid-area: a;
        margin: 2%;
        min-height: 10rem;

    }

    .earlyyrs h2 {
        text-align: center;
    }

    .earlyyrs p {
        text-align: left;
    }

    .livuk {
        grid-area: b;
        min-height: 10rem;
        margin: 2%;
        border-top: 1px solid black;
    }

    .livuk p {
        text-align: left;
    }


    /* End of nested grid */

    .griditem-e {
        grid-column: 1/7;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 1%;
        grid-template-areas:
            "a a c"
            "b b d";
        min-height: 30rem;
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5%;
        animation: 1s ease-out 0s 1 slideInFromRight;
    }


    /* nested grid fro griditem-e */
    .highschool {
        grid-area: a;
        margin: 2%;
        min-height: 10rem;
    }

    .highschool h2 {
        text-align: center;
    }

    .highschool p {
        text-align: left;
    }

    .sixthform {
        grid-area: b;
        min-height: 10rem;
        margin: 2%;
        border-top: 1px solid black;
    }

    .sixthform p {
        text-align: left;
    }



    /* end of nested grid */

    .griditem-f {
        grid-column: 1/7;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 1%;
        grid-template-areas:
            "a b c"
            "a d e";
        min-height: 30rem;
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5%;
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }

    /* nested grid for griditem-f */

    .myjob {
        grid-area: a;
        margin: 2%;
    }

    .myjob h2 {
        border-bottom: 1px solid black;
    }

    .myjob p {
        text-align: left;
    }

    /*end of nested grid */

    /* Hobbies page */

    .griditem-h {
        grid-column: 1/7;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% auto;
        grid-template-areas:
            "t"
            "a"
            "b";
        grid-column-gap: 1%;
        min-height: 4rem;
        margin: 0 20% 0 20%;
        -webkit-animation: fadein 2s;
    }

    .griditem-h h1 {
        grid-area: t;
        text-align: center;
        font-size: 2rem;
        margin: auto;
        -webkit-animation: fadein 2s;
    }

    .hobnav ul li {
        list-style: none;
        display: inline;
        margin-right: 2%;
    }

    .hobnav a {
        text-decoration: none;
        color: black;
        position: relative;
        vertical-align: middle;
    }

    .hobnav a:hover {
        color: blue;
    }

    .hobnav a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        background: blue;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .hobnav a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }


    /*nested grid for griditem-h */

    .hobbies {
        grid-area: a;
        border-radius: 5%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        text-align: center;
        font-size: 2.5em;
        height: 34rem;

    }

    .hobbies hr {
        width: 70%;
    }

    .hobbies p {
        margin: 5%;
        text-align: left;
        font-size: 1.5rem;

    }

    /* styling for the individual hobbies pages */
    .hobart {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "a f ."
            "b b b"
            "c c c";
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        max-height: 55rem;
    }

    .hobart svg {
        grid-area: a;
        margin-left: 2%;
        margin-top: 2%;
    }

    .hobart p {
        grid-area: b;
        margin: 0 5% 0 5%;
        text-align: left;
    }

    .hobart h2 {
        grid-area: f;
        text-align: center;
    }

    /* end of nested grid */

    /*pets page */

    .petgrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "dog dog image1"
            "cat cat image2"
            "cat2 cat2 image3"
            "cat3 cat3 image4";
        border: 1px solid rgba(0, 0, 0, 0.2);
        min-height: 27rem;
        border-radius: 5%;
    }


    .dog {
        margin: 5%;
        grid-area: dog;
        border-bottom: 1px solid gray;
    }

    .cat1 {
        margin: 0 5% 5% 5%;
        grid-area: cat;
        border-bottom: 1px solid gray;

    }

    .cat2 {
        margin: 0 5% 5% 5%;
        grid-area: cat2;
        border-bottom: 1px solid gray;

    }

    .cat3 {
        margin: 0 5% 5% 5%;
        grid-area: cat3;


    }

    #charlie {
        grid-area: image1;
        width: 70%;
        height: 20%;
        margin: auto;
        object-fit: cover;
        object-position: 100% 40%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    #miah {
        grid-area: image2;
        width: 70%;
        height: 20%;
        margin: 0 auto;
        object-fit: cover;
        object-position: 100% 40%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    #kicia {
        grid-area: image3;
        width: 70%;
        height: 20%;
        margin: 0 auto;
        object-fit: cover;
        object-position: 100% 40%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    #boniek {
        grid-area: image4;
        width: 70%;
        height: 20%;
        margin: 0 auto;
        object-fit: cover;
        object-position: 100% 40%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }



    /* University Life page */

    .unilife {
       display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
           "a b"
           "a b";
        border: 1px solid rgba(0, 0, 0, 0.2);
        min-height: 27rem;
    }
    
    .unilife p {
        margin: 2%;;
    }
    
    .unilife h2 {
        margin-left: 2%;
        border-bottom: 1px solid gray
    }
    
    .unilife article {
        grid-area: a;
    }
    
    .uniimg {
        grid-area: b;
        width: 100%;
        height: 100%;
        object-fit:cover;
    }




    /* contact me page */

    .griditem-g {
        grid-column: 1/7;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% auto;
        grid-template-areas:
            "t"
            "a";
        grid-column-gap: 1%;
        height: 100%;
        margin: 0 20% 0 20%;
        -webkit-animation: fadein 2s;
    }

    .griditem-g h1 {
        grid-area: t;
        text-align: center;
        font-size: 2rem;
        margin: auto;
        -webkit-animation: fadein 2s;
    }

    /* nested grid elemetns for griditem-g */

    .contact1 {
        grid-area: a;
        border-radius: 5%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        text-align: center;
        font-size: 2.5em;
        height: 32rem;


    }

    .contact1 a {
        text-decoration: none;
        color: black;

    }


    .contact1 a:hover {
        color: gray;
    }


    .contact1 a:hover > svg {
        color: gray;
    }


    .contact1 svg {
        color: black;
        margin-top: 2%;
    }

    .contact1 hr {
        width: 70%;
    }





    /* footer styling */

    footer {
        grid-area: footer;
        grid-column: 1/7;
        min-height: 8rem;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 5.5%;

    }

    footer svg {
        margin-top: 5px;
        vertical-align: middle;
        color: black;
    }

    .btnup {
        font-size: 1.5rem;

    }


    /* Desktop navigation stylings */
    .nav_menu a {
        position: relative;
        vertical-align: middle;
    }

    .nav_menu a:hover {
        color: blue;
    }

    .nav_menu a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        background: blue;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .nav_menu a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }


    /* Images */

    .me {
        object-fit: cover;
        min-width: 100%;
        height: 100%;
        display: flex;
        -webkit-animation: fadein 2s;
    }

    .babyme {
        width: 35%;
        margin: 2rem auto auto auto;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);

    }

    .primaryme {
        width: 40%;
        margin: 2rem auto;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    .highschlme {
        width: 40%;
        margin: 2rem auto;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);

    }

    .sixthme {
        width: 40%;
        margin: 2rem auto;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    .bar1 {
        margin: auto auto 1rem 0;
        width: 80%;
        grid-area: e;
        border-radius: 10%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    .bar2 {
        margin: auto 1px 1rem auto;
        width: 80%;
        grid-area: d;
        border-radius: 10%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    .bar3 {
        margin: 1rem auto auto 0;
        width: 80%;
        grid-area: c;
        border-radius: 10%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    .bar4 {
        margin: 1rem 1px auto auto;
        width: 80%;
        grid-area: b;
        border-radius: 10%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);

    }

    .nv {
        object-fit: cover;
        width: 100%;
        grid-area: c;
        height: 200px;
        object-position: 100% 25%;
        margin-top: 2%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    .zoom {
        transition: transform .2s;
    }

    .zoom:hover {
        transform: scale(1.2);
    }

    /* Keyframes for animations */

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes slideInFromRight {
        0% {
            transform: translateX(200%);
        }

        100% {
            transform: translateX(0);
        }
    }

}





/* Mobile media query handling the mobile menu and mobile styling */
@media only screen and (max-width: 800px) {

    * {
        max-width: 100%;
    }

    a {
        text-decoration: none;
        color: black;
    }

    p {
        text-align: left;
        margin: 2%;
    }

    .me {
        max-width: 100%;
        object-fit: cover;
        display: block;

    }

    label {
        display: block;
        cursor: pointer;
    }

    nav a {
        background: #f4f4f4;
        transition-duration: 1s;
        padding: 5%;
        height: 100%;
    }

    nav a:hover {
        text-decoration: none;
        background: #fefefe;
    }

    .nav_menu {
        text-align: center;
        width: 100%;
        display: none;

    }

    .nav_menu a {
        display: block;
        border-bottom: 1px solid #E5E4E4;
        margin: 0;
        background: #DDDDDD;
    }

    #toggle:checked + .nav_menu {
        display: block;

    }

    main {
        position: relative;
        text-align: center;
        display: block;

    }

    .griditem-g {
        width: 100%;
        display: block;

    }

    .griditem-g article {
        width: 100%;
    }

    .contact1 a {
        display: block;
        width: 100%;
        font-size: 1rem;
        margin: 5% 0 5% 0;

    }

    .hobnav {
        width: 100%;
        margin: 0 auto;
        padding: 0;

    }

    .hobnav ul {
        padding: 0;
    }

    .hobnav li {
        list-style: none;
        display: inline-block;
        margin: 0 2%;
        padding: 2%;
    }

    .hobnav li {
        border: 1px solid black;
        border-radius: 10%;
    }

    .hobbies hr {
        width: 100%;
    }

    .hobart p {
        margin: 10% 2% 2% 2%;
    }

    #bckar {
        display: flex;
        margin: 5%;

    }

    .petgrid img {
        width: 30%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
        margin-bottom: 1%;

    }
    
    .uniimg {
        width: 60%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
        margin-bottom: 2%;
    }


    #b {
        min-height: 10rem;
        border-top: 1px solid lightgray;
    }

    #c {
        min-height: 10rem;
        border-top: 1px solid lightgray;
    }

    .babyme {
        width: 20%;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    .primaryme {
        width: 20%;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }


    .highschlme {
        width: 20%;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);

    }

    .sixthme {
        width: 20%;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    .bar1 {
        width: 20%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);

    }

    .bar2 {
        width: 20%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    .bar3 {
        width: 20%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    .bar4 {
        width: 20%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    }

    article {
        border-top: 1px solid black;
    }


    footer {
        width: 100%;
        background: lightgray;
        color: black;
        min-height: 5rem;
        text-align: center;
    }

    footer svg {
        color: black;
        margin-top: 2%;
    }

    footer p {
        text-align: center;
    }

    .btnup {
        font-size: 1.6rem;

    }
}
